<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
  <label>User Name: <input [(ngModel)]="userName" placeholder="name"/> </label>
  <label>Password: <input [(ngModel)]="password" placeholder="name" type="password"/> </label>
  </div>
  <div>  <input   type="button" value="submit" (click)="submitRequest()"/> </div>
</div>
<div>
<ul >
  <li *ngFor="let usr of usrs" >
    <span >{{usr.userName}}</span> {{usr.password}}
  </li>
</ul>
</div>


<router-outlet></router-outlet>
